@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Light.eot');
  src: url('../fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato/Lato-Light.woff2') format('woff2'),
      url('../fonts/Lato/Lato-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.eot');
  src: url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
      url('../fonts/Lato/Lato-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Semibold.eot');
  src: url('../fonts/Lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato/Lato-Semibold.woff2') format('woff2'),
      url('../fonts/Lato/Lato-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Bold.eot');
  src: url('../fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato/Lato-Bold.woff2') format('woff2'),
      url('../fonts/Lato/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Heavy.eot');
  src: url('../fonts/Lato/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato/Lato-Heavy.woff2') format('woff2'),
      url('../fonts/Lato/Lato-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
